.bgImage {
  background-image: url('/images/HomePage/home-bg-1x.jpg');
  background-size: cover;
  background-position: center;
  height: calc(100vh - 72px);
  overflow-y: hidden;
}

@media (min-resolution: 2dppx) {
  .bgImage {
    background-image: url('/images/HomePage/home-bg-2x.jpg');
  }
}
